body {
  padding: 15px;
}
.highlighted-with-span {
  background-color: yellow;
  color: red;
}

::highlight(example-highlight) {
  background-color: cyan;
  color: blue;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 6px;
}

button {
  font-size: 16px;
}

div {
  font-size: 18px;
}

#parent-span > span {
  margin-right: 5px;
}

input {
  font-size: 16px;
  width: 80px;
}
